
#id{
  //background-color: red;
  display: flex;
}


@media  screen and (max-width : 300px ) {
  //[class*="col-"] {
  //  width: 100%;
  //}
  #id{
    display: none;
  }
}

@media  screen and (min-width: 301px ) {
  [class*="col-"] {
    width: 100%;
  }

}

@media  screen and (min-width: 750px ) {
  [class*="col-"] {
    width: 50%;
    padding: 25px;
    margin-bottom: 10px;
  }
}

@media  screen and (min-width: 1000px ) {
  [class*="col-"] {
    width: 25%;
  }
}







/*min-width -- mobile first*/
/*max-width -- desktop first */
/*@media queires should be always at the bottom to override original styles */

